<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Class Browser</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-controller="NavBarCtrl">
            <ul class="nav navbar-nav">
                <li class = "navbar divider-vertical"></li>
                <li ng-class="{ active: isActive('/core')}"><a href="#!/core">Core Class Search</a></li>
                <li class = "navbar divider-vertical"></li>
                <li ng-class="{ active: isActive('/department')}"><a href="#!/department">Department Search</a></li>
                <li class = "navbar divider-vertical"></li>
                <li ng-class="{ active: isActive('/class')}"><a href="#!/class">Class Search</a></li>
                <li class = "navbar divider-vertical"></li>
                <li ng-class="{ active: isActive('/offeredclass')}"><a href="#!/offeredclass">Offered Class Search</a></li>
            </ul>
        </div>
    </div>
</nav>