<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>





<div class="container">
    <div class="jumbotron">
        <h2>Department Search</h2>
        <p ng-show="showDiv">Retrieved {{numberOfRows}} departments.</p>
        <button type="button" class="btn btn-default" ng-click='populateDepartments()' ng-show="!showDiv">Populate Departments</button>
        <table st-table="rowCollection" class="table table-striped">
            <thead>
            <tr>
                <th>Department Abbreviation</th>
                <th>Department Name</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rowCollection">
                <td>{{row.departmentName}}</td>
                <td>{{row.departmentFullName}}</td>
            </tr>
            </tbody>
        </table>
        </div></div>
</body>

</html>