<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department Result</title>
    <link href="views/templates/tableSort.css" rel="stylesheet">
    <link href="views/templates/search.field.clear.css" rel="stylesheet">
</head>
<body>
<h2>Department Information Results</h2>
<p>Retrieved {{numberOfRows}} departments.</p>
<table st-safe-src="rowCollection"
       st-table="resultSet"
       class="table table-bordered table-striped">
    <thead>
    <tr>
        <th colspan="5"><input type="search" st-search="" class="form-control" placeholder="Search through the results here."/></th>
    </tr>
    <tr>
        <th class="sortable" st-sort="departmentName">Department Abbreviation</th>
        <th class="sortable" st-sort="departmentFullName">Department Name</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in resultSet">
        <td>{{row.departmentName}}</td>
        <td>{{row.departmentFullName}}</td>
    </tr>
    </tbody>
</table>
</body>
</html>