<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{aClass.departmentInformation.department}} {{aClass.departmentInformation.departmentCRN}} &mdash; {{aClass["classTitle"]}} ({{aClass["classReferenceNumber"]}})</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog" md-svg-src="resources/img/ic_close_24px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h2>{{aClass.termInformation.semester}} {{aClass.termInformation.year}}</h2>
                <p>
                    <br>
                    <br>
                    <br><span>attributes => {{aClass.attributes}}</span>
                    <br><span>classDays.friday => {{aClass.classDays.friday}}</span>
                    <br><span>classDays.monday => {{aClass.classDays.monday}}</span>
                    <br><span>classDays.saturday => {{aClass.classDays.saturday}}</span>
                    <br><span>classDays.sunday => {{aClass.classDays.sunday}}</span>
                    <br><span>classDays.thursday => {{aClass.classDays.thursday}}</span>
                    <br><span>classDays.tuesday => {{aClass.classDays.tuesday}}</span>
                    <br><span>classDays.wednesday => {{aClass.classDays.wednesday}}</span>
                    <br><span>classReferenceNumber => {{aClass.classReferenceNumber}}</span>
                    <br><span>classStatus => {{aClass.classStatus}}</span>
                    <br><span>classTitle => {{aClass.classTitle}}</span>
                    <br><span>component => {{aClass.component}}</span>
                    <br><span>core => {{aClass.core}}</span>
                    <br><span>dateTimeInformation.endDate => {{aClass.dateTimeInformation.endDate}}</span>
                    <br><span>dateTimeInformation.endTime => {{aClass.dateTimeInformation.endTime}}</span>
                    <br><span>dateTimeInformation.startDate => {{aClass.dateTimeInformation.startDate}}</span>
                    <br><span>dateTimeInformation.startTime => {{aClass.dateTimeInformation.startTime}}</span>
                    <br><span>departmentInformation.credit_hours => {{aClass.departmentInformation.credit_hours}}</span>
                    <br><span>departmentInformation.department => {{aClass.departmentInformation.department}}</span>
                    <br><span>departmentInformation.departmentCRN => {{aClass.departmentInformation.departmentCRN}}</span>
                    <br><span>departmentInformation.departmentName => {{aClass.departmentInformation.departmentName}}</span>
                    <br><span>description => {{aClass.description}}</span>
                    <br><span>duration => {{aClass.duration}}</span>
                    <br><span>format => {{aClass.format}}</span>
                    <br><span>instructorInformation.instructor => {{aClass.instructorInformation.instructor}}</span>
                    <br><span>instructorInformation.instructorEmail => {{aClass.instructorInformation.instructorEmail}}</span>
                    <br><span>lastUpdated => {{aClass.lastUpdated}}</span>
                    <br><span>locationInformation.buildingAbbreviation => {{aClass.locationInformation.buildingAbbreviation}}</span>
                    <br><span>locationInformation.buildingID => {{aClass.locationInformation.buildingID}}</span>
                    <br><span>locationInformation.buildingName => {{aClass.locationInformation.buildingName}}</span>
                    <br><span>locationInformation.location => {{aClass.locationInformation.location}}</span>
                    <br><span>locationInformation.roomNumber => {{aClass.locationInformation.roomNumber}}</span>
                    <br><span>seatInformation.seatsAvailable => {{aClass.seatInformation.seatsAvailable}}</span>
                    <br><span>seatInformation.seatsTaken => {{aClass.seatInformation.seatsTaken}}</span>
                    <br><span>seatInformation.seatsTotal => {{aClass.seatInformation.seatsTotal}}</span>
                    <br><span>session => {{aClass.session}}</span>
                    <br><span>syllabus => {{aClass.syllabus}}</span>

                </p>

            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="hide()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


