.sortable {
    cursor: pointer;
}

.sortable:after {
    content: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
    padding-left: 1em;
}

.st-sort-ascent:after {
    content: '\25B2';
}

.st-sort-descent:after {
    content: '\25BC';
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

.form-control::-webkit-input-placeholder {
    color: black;
    font-weight: normal;
}

.form-control:-moz-placeholder {
    color: black;
    font-weight: normal;
}

.form-control::-moz-placeholder {
    color: black;
    font-weight: normal;
}

.form-control:-ms-input-placeholder {
    color: black;
    font-weight: normal;
}


@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table, thead, tbody, th, td, tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

}