<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    <link href="views/class/class.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <h2>Class Search</h2>
        <p>
            A directory of classes that have been offered at one point in time.
            Leaving a field blank, "Nothing Selected", searches for everything in the particular category.
        </p>

        <form name="coreSearchForm" ng-controller="ClassCtrl">

            <div class="form-group">
            <label class="control-label" for="subject"><p>Select subjects: </p></label>

                <ol class="nya-bs-select"
                ng-model="departmentModel"
                data-live-search="true"
                data-selected-text-format={{selectedCountLimit}}
                id="subject"
                multiple>
                <li nya-bs-option="option in departments.availableOptions">
                    <a>
                        {{option.departmentName}} : {{ option.departmentFullName }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>
            <p></p>
            <label class="control-label" for="creditHours"><p>Select number of credit hours: </p></label>
            <ol class="nya-bs-select"
                ng-model="creditHourModel"
                data-selected-text-format={{selectedCountLimit}}
                multiple
                id="creditHours">
                <li nya-bs-option="option in creditHours.availableOptions">
                    <a>
                        {{ option.creditHours }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>
            <p></p>
            <label class="control-label" for="core"><p>Select core requirement: </p></label>
            <ol class="nya-bs-select"
                ng-model="coreModel"
                data-live-search="true"
                data-selected-text-format={{selectedCountLimit}}
                multiple
                id="core">
                <li nya-bs-option="option in coreCategories.availableOptions">
                    <a>
                        {{ option.categoryName }}
                        <span class="glyphicon glyphicon-ok check-mark"></span>
                    </a>
                </li>
            </ol>

            <!--<p></p><p ng-show="showDiv">{{message}}</p>-->
            <!--<p ng-show="showDiv"><p>{{messageTwo}}</p>-->
            <p>You have selected: {{departmentModel}}</p>
            <p>You have selected: {{creditHourModel}}</p>
            <p>You have selected: {{coreModel}}</p>

            <button type="button" class="btn btn-default" ng-click='populateClasses()'>Populate Classes</button>
            </div>
        </form>
        <table st-safe-src="rowCollection" st-table="displayed" class="table table-bordered table-striped" ng-show="showDiv">
            <thead>
            <tr>
                <th>Department Name</th>
                <th>Department CRN</th>
                <th>Class Title</th>
                <th>Credit Hours</th>
                <th>Class Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in displayed">
                <td>{{row.department}}</td>
                <td>{{row.department_crn}}</td>
                <td>{{row.class_title}}</td>
                <td>{{row.credit_hours}}</td>
                <td>{{row.class_description}}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-items-by-page="10" st-pagination="" st-template="views/templates/pagination.custom.html"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>

</div>
</body>
</html>