<!doctype html>
<html ng-app="classBrowserUHApp">
<head>
    <title>Hello AngularJS</title>
</head>

<body>

<div class="container">
    <div class="jumbotron">
        <div class="page-header">
            <h1>Class Browser <small>For the University of Houston</small></h1>
        </div>
        <h1>University of Houston Class Browser</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="https://github.com/robert-vo/class-browser-api" role="button">View on GitHub</a></p>
    </div>
</div>


</body>
</html>
