<button ng-click="exitDisplayDetailedOfferedClass()" class="btn btn-default" >
    Back To Offered Class Results
</button>

<br>
termInformation.termID => {{detailedClass.termInformation.termID}}<br>
termInformation.year => {{detailedClass.termInformation.year}}<br>
termInformation.semester => {{detailedClass.termInformation.semester}}<br>
classTitle => {{detailedClass.classTitle}}<br>
departmentInformation.department => {{detailedClass.departmentInformation.department}}<br>
departmentInformation.departmentName => {{detailedClass.departmentInformation.departmentName}}<br>
departmentInformation.departmentCRN => {{detailedClass.departmentInformation.departmentCRN}}<br>
departmentInformation.credit_hours => {{detailedClass.departmentInformation.credit_hours}}<br>
classStatus => {{detailedClass.classStatus}}<br>
classReferenceNumber => {{detailedClass.classReferenceNumber}}<br>
seatInformation.seatsTaken => {{detailedClass.seatInformation.seatsTaken}}<br>
seatInformation.seatsAvailable => {{detailedClass.seatInformation.seatsAvailable}}<br>
seatInformation.seatsTotal => {{detailedClass.seatInformation.seatsTotal}}<br>
dateTimeInformation.startDate => {{detailedClass.dateTimeInformation.startDate}}<br>
dateTimeInformation.endDate => {{detailedClass.dateTimeInformation.endDate}}<br>
dateTimeInformation.startTime => {{detailedClass.dateTimeInformation.startTime}}<br>
dateTimeInformation.endTime => {{detailedClass.dateTimeInformation.endTime}}<br>
attributes => {{detailedClass.attributes}}<br>
classDays.monday => {{detailedClass.classDays.monday}}<br>
classDays.tuesday => {{detailedClass.classDays.tuesday}}<br>
classDays.wednesday => {{detailedClass.classDays.wednesday}}<br>
classDays.thursday => {{detailedClass.classDays.thursday}}<br>
classDays.friday => {{detailedClass.classDays.friday}}<br>
classDays.saturday => {{detailedClass.classDays.saturday}}<br>
classDays.sunday => {{detailedClass.classDays.sunday}}<br>
instructorInformation.instructor => {{detailedClass.instructorInformation.instructor}}<br>
instructorInformation.instructorEmail => {{detailedClass.instructorInformation.instructorEmail}}<br>
locationInformation.location => {{detailedClass.locationInformation.location}}<br>
locationInformation.buildingID => {{detailedClass.locationInformation.buildingID}}<br>
locationInformation.buildingAbbreviation => {{detailedClass.locationInformation.buildingAbbreviation}}<br>
locationInformation.buildingName => {{detailedClass.locationInformation.buildingName}}<br>
format => {{detailedClass.format}}<br>
description => {{detailedClass.description}}<br>
duration => {{detailedClass.duration}}<br>
session => {{detailedClass.session}}<br>
component => {{detailedClass.component}}<br>
syllabus => {{detailedClass.syllabus}}<br>
core => {{detailedClass.core}}<br>
lastUpdated} => {{detailedClass.lastUpdated}}<br>