<button ng-click="exitDisplayDetailedOfferedClass()" class="btn btn-default" >
    Back To Offered Class Results
</button>

<h2>Detailed Offered Class</h2>
<p ng-bind-html="detailedOfferedClassMessage"></p>

<br>
<b>Year</b>: {{detailedClass.termInformation.year}}<br>
Semester => {{detailedClass.termInformation.semester}}<br>
Title => {{detailedClass.classTitle}}<br>
Department => {{detailedClass.departmentInformation.department}}<br>
Department Name => {{detailedClass.departmentInformation.departmentName}}<br>
Department CRN => {{detailedClass.departmentInformation.departmentCRN}}<br>
Credit Hours => {{detailedClass.departmentInformation.credit_hours}}<br>
Status => {{detailedClass.classStatus}}<br>
CRN => {{detailedClass.classReferenceNumber}}<br>
Seats Taken => {{detailedClass.seatInformation.seatsTaken}}<br>
Seats Available => {{detailedClass.seatInformation.seatsAvailable}}<br>
Seats Total => {{detailedClass.seatInformation.seatsTotal}}<br>
dateTimeInformation.startDate => {{detailedClass.dateTimeInformation.startDate}}<br>
dateTimeInformation.endDate => {{detailedClass.dateTimeInformation.endDate}}<br>
dateTimeInformation.startTime => {{detailedClass.dateTimeInformation.startTime}}<br>
dateTimeInformation.endTime => {{detailedClass.dateTimeInformation.endTime}}<br>
attributes => {{detailedClass.attributes}}<br>
classDays.monday => {{detailedClass.classDays.monday}}<br>
classDays.tuesday => {{detailedClass.classDays.tuesday}}<br>
classDays.wednesday => {{detailedClass.classDays.wednesday}}<br>
classDays.thursday => {{detailedClass.classDays.thursday}}<br>
classDays.friday => {{detailedClass.classDays.friday}}<br>
classDays.saturday => {{detailedClass.classDays.saturday}}<br>
classDays.sunday => {{detailedClass.classDays.sunday}}<br>
instructorInformation.instructor => {{detailedClass.instructorInformation.instructor}}<br>
instructorInformation.instructorEmail => {{detailedClass.instructorInformation.instructorEmail}}<br>
locationInformation.location => {{detailedClass.locationInformation.location}}<br>
locationInformation.buildingID => {{detailedClass.locationInformation.buildingID}}<br>
locationInformation.buildingAbbreviation => {{detailedClass.locationInformation.buildingAbbreviation}}<br>
locationInformation.buildingName => {{detailedClass.locationInformation.buildingName}}<br>
format => {{detailedClass.format}}<br>
description => {{detailedClass.description}}<br>
duration => {{detailedClass.duration}}<br>
session => {{detailedClass.session}}<br>
component => {{detailedClass.component}}<br>
syllabus => {{detailedClass.syllabus}}<br>
core => {{detailedClass.core}}<br>
lastUpdated} => {{detailedClass.lastUpdated}}<br>