<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    <link href="views/class/class.css" rel="stylesheet">
    <script src="bower_components/underscore/underscore-min.js"></script>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <div id="classSearch" ng-show="!showDiv">
            <h2>Offered Class Search</h2>
            <form name="offeredClassSearchForm" ng-class="{'has-error': offeredClassSearchForm.selectTerm.$invalid}">
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <label class="control-label" for="terms"><p>Select a Term: </p></label>
                        <ol name="selectTerm"
                            class="nya-bs-select"
                            ng-model="termModel"
                            id="terms"
                            required>
                            <li nya-bs-option="option in terms.availableOptions">
                                <a>
                                    {{option.semester}} {{option.year}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                        <div class="row">
                            <div class="col-xs-3 col-md-3"></div>
                                <p class="text-danger" ng-show="offeredClassSearchForm.selectTerm.$invalid">Please select a term.</p>
                        </div>
                    </div>
                </div>


                <label for="classFormat"><p>Select class format: </p></label>
                <ol id="classFormat"
                    class="nya-bs-select"
                    ng-model="formatModel"
                    data-selected-text-format={{selectedCountLimit}}
                    multiple
                    >
                    <li nya-bs-option="option in format.availableOptions group by option.isOrNot">
                        <span class="dropdown-header">{{$group}}</span>
                        <a>{{ option.isOrNot == "Not" ? "Not" : ""}} {{ option.formatType }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>



                <label for = "classStatus"><p>Select class status: </p></label>
                <ol id = "classStatus"
                    class = "nya-bs-select"
                    ng-model = "statusModel"
                    multiple>
                    <li nya-bs-option="option in status.availableOptions">
                        <a>{{ option.status }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>

                <div class="we" id="we">
                <label for = "status"><p>Select class status: </p></label>

                <table id="status" class="poop">
                    <tr ng-repeat="subscription in entities">
                        <td>
                            <label class="checkbox-inline"><input type="checkbox" ng-model="subscription.checked" ng-click="updateSelection($index, entities)" />option</label>
                        </td>
                    </tr>
                </table>
                </div>

                <label for = "classSession"><p>Select class sessions: </p></label>
                <ol id = "classSession"
                    class = "nya-bs-select"
                    ng-model = "sessionModel"
                    multiple>
                    <li nya-bs-option="option in session.availableOptions">
                        <a>{{ option.sessionTitle }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>

                <label for="subject"><p>Select subjects: </p></label>
                <ol class="nya-bs-select"
                    ng-model="departmentModel"
                    data-live-search="true"
                    data-selected-text-format={{selectedCountLimit}}
                    id="subject"
                    multiple>
                    <li nya-bs-option="option in departments.availableOptions">
                        <a>{{option.departmentName}} : {{ option.departmentFullName }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>

                <label for = "buildings"><p>Select buildings: </p></label>
                <ol id = "buildings"
                    class = "nya-bs-select"
                    ng-model = "buildingModel"
                    data-live-search="true"
                    data-selected-text-format={{selectedCountLimit}}
                    multiple>
                    <li nya-bs-option="option in buildings.availableOptions">
                        <a>{{option.buildingID != 0 ? option.buildingAbbreviation + " : " + option.buildingName : "No Building"}}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>

                <label for = "locations"><p>Select campus locations: </p></label>
                <ol id = "locations"
                    class = "nya-bs-select"
                    ng-model = "locationModel"
                    data-live-search="true"
                    data-selected-text-format={{selectedCountLimit}}
                    multiple>
                    <li nya-bs-option="option in locations.availableOptions">
                        <a>{{option.location}}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>

                <label for = "component"><p>Select class components: </p></label>
                <ol id = "component"
                    class = "nya-bs-select"
                    ng-model = "componentModel"
                    data-live-search="true"
                    data-selected-text-format={{selectedCountLimit}}
                    multiple>
                    <li nya-bs-option="option in component.availableOptions">
                        <a>{{option.component}} : {{option.componentName}}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>

                <label for="creditHours"><p>Select number of credit hours: </p></label>
                <ol class="nya-bs-select"
                    ng-model="creditHourModel"
                    data-selected-text-format={{selectedCountLimit}}
                    multiple
                    id="creditHours">
                    <li nya-bs-option="option in creditHours.availableOptions">
                        <a>{{ option.creditHours }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>
                <p></p>
                <label for="core"><p>Select core requirement: </p></label>
                <ol class="nya-bs-select"
                    ng-model="coreModel"
                    data-live-search="true"
                    data-selected-text-format={{selectedCountLimit}}
                    multiple
                    id="core">
                    <li nya-bs-option="option in coreCategories.availableOptions">
                        <a>{{ option.categoryName }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                    </li>
                </ol>

                <input type="submit" class="btn btn-default" value="Populate Classes" ng-click="populateClasses()">
                <input type="button" class="btn btn-danger" value="Clear Form" ng-click="clearForms()">
                 <!--use to validate form -> myForm.$valid: {{!!offeredClassSearchForm.$valid}} {{!!offeredClassSearchForm.$invalid}}-->

            </form>

            <br>
            department-crn - The 4 digit number that represents the class in a given department.
            is-core - Use one of the True Values to indicate if a class fulfills a core requirement. False Values to indicate otherwise.
            weekendU - Use one of the True Values to indicate if a class is a weekendU class. False Values to indicate otherwise.
            monday - Use one of the True Values to indicate that the class meets on Monday. Using a False Value indicates otherwise.
            tuesday - Use one of the True Values to indicate that the class meets on Tuesday. Using a False Value indicates otherwise.
            wednesday - Use one of the True Values to indicate that the class meets on Wednesday. Using a False Value indicates otherwise.
            thursday - Use one of the True Values to indicate that the class meets on Thursday. Using a False Value indicates otherwise.
            friday - Use one of the True Values to indicate that the class meets on Friday. Using a False Value indicates otherwise.
            saturday - Use one of the True Values to indicate that the class meets on Saturday. Using a False Value indicates otherwise.
            sunday - Use one of the True Values to indicate that the class meets on Sunday. Using a False Value indicates otherwise.
            syllabus - Use one of the True Values to indicate that the class has a syllabus. Using a False Value indicates otherwise.
        </div>
    </div>
</div>
</body>
</html>