<span ng-show="!displayDetailed">
    <link href="views/templates/tableSort.css" rel="stylesheet">
    <link href="views/templates/searchFieldClear.css" rel="stylesheet">

    <button ng-click="goBack()" class="btn btn-default" >
        Back To Offered Class Search
    </button>

    <h2>Offered Class Search Results</h2>
    <p ng-bind-html="parametersMessage"></p>
    <p ng-bind-html="numberOfRowsMessage"></p>

    <table st-safe-src="rowCollection"
           st-table="displayed"
           class="table table-bordered table-striped">
        <thead>
        <tr>

            <th>View More Information</th>
            <th class="sortable" st-sort="departmentInformation.department">Subject & Course Number</th>
            <!--<th class="sortable" st-sort="attributes">attributes</th>-->
            <th>Class Days</th>
            <th class="sortable" st-sort="classReferenceNumber">CRN</th>
            <th class="sortable" st-sort="classStatus">Status</th>
            <th class="sortable" st-sort="classTitle">Title</th>
            <!--<th class="sortable" st-sort="component">Component</th>-->
            <th class="sortable" st-sort="core">Core Categories</th>
            <th class="sortable" st-sort="dateTimeInformation.startTime">Meeting Times</th>
            <th class="sortable" st-sort="dateTimeInformation.startDate">Meeting Dates</th>
            <!--<th class="sortable" st-sort="dateTimeInformation.endDate">End Date</th>-->
            <!--<th class="sortable" st-sort="departmentInformation.credit_hours">Credit Hours</th>-->
            <!--<th class="sortable" st-sort="departmentInformation.departmentCRN">DepartmentCRN</th>-->
            <!--<th class="sortable" st-sort="departmentInformation.departmentName">departmentInformation.departmentName</th>-->
            <th class="sortable" st-sort="description">Description</th>
            <!--<th class="sortable" st-sort="duration">Duration</th>-->
            <th class="sortable" st-sort="format">Format</th>
            <th class="sortable" st-sort="departmentInformation.instructor">Instructor Name</th>
            <!--<th class="sortable" st-sort="departmentInformation.instructorEmail">Instructor's Email</th>-->
            <!--<th class="sortable" st-sort="lastUpdated">Last Updated</th>-->
            <!--<th class="sortable" st-sort="locationInformation.buildingAbbreviation">Building Abbreviation</th>-->
            <!--<th class="sortable" st-sort="locationInformation.buildingID">locationInformation.buildingID</th>-->
            <th class="sortable" st-sort="locationInformation.buildingName">Building Name</th>
            <!--<th class="sortable" st-sort="locationInformation.location">Location</th>-->
            <!--<th class="sortable" st-sort="seatInformation.seatsAvailable">Seats Available</th>-->
            <!--<th class="sortable" st-sort="seatInformation.seatsTaken">Seats Taken</th>-->
            <!--<th class="sortable" st-sort="seatInformation.seatsTotal">Seats Total</th>-->
            <th class="sortable" st-sort="session">Session</th>
            <th class="sortable" st-sort="syllabus">Syllabus</th>
            <!--<th class="sortable" st-sort="termInformation.semester">termInformation.semester</th>-->
            <!--<th class="sortable" st-sort="termInformation.termID">termInformation.termID</th>-->
            <!--<th class="sortable" st-sort="termInformation.year">termInformation.year</th>-->
        </tr>
        <tr>
            <th colspan="5"><input type="search" st-search="" class="form-control" placeholder="Search through the results here."/></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayed">
            <td ng-click="displayDetailedOfferedClass(row)">  <button type="button" class="btn btn-info">Info</button></td>
            <td>{{row.departmentInformation.department}} {{row.departmentInformation.departmentCRN}}</td>
            <!--<td>{{row.attributes}}</td>-->
            <td>{{getClassDays(row.classDays)}}</td>
            <!--<td>{{row.classDays.monday ? "✓" : "✗"}}</td>-->
            <!--<td>{{row.classDays.tuesday ? "✓" : "✗"}}</td>-->
            <!--<td>{{row.classDays.wednesday ? "✓" : "✗"}}</td>-->
            <!--<td>{{row.classDays.thursday ? "✓" : "✗"}}</td>-->
            <!--<td>{{row.classDays.friday ? "✓" : "✗"}}</td>-->
            <!--<td>{{row.classDays.saturday ? "✓" : "✗"}}</td>-->
            <!--<td>{{row.classDays.sunday ? "✓" : "✗"}}</td>-->
            <td>{{row.classReferenceNumber}}</td>
            <td>{{printSeatInformation(row.classStatus, row.seatInformation)}}</td>
            <td>{{row.classTitle}}</td>
            <!--<td>{{row.component}}</td>-->
            <td>{{printCoreCategories(row.core)}}</td>
            <td>{{getTimes(row.dateTimeInformation.startTime, row.dateTimeInformation.endTime)}}</td>
            <td>{{printDates(row.dateTimeInformation.startDate, row.dateTimeInformation.endDate)}}</td>
            <!--<td>{{row.departmentInformation.credit_hours}}</td>-->
            <!--<td>{{row.departmentInformation.departmentName}}</td>-->
            <td>{{row.description}}</td>
            <!--<td>{{row.duration}}</td>-->
            <td>{{row.format}}</td>
            <td>{{row.instructorInformation.instructor}} <br><span class="glyphicon glyphicon-envelope"></span>{{row.instructorInformation.instructorEmail}}</td>
            <!--<td>{{row.lastUpdated}}</td>-->
            <!--<td>{{row.locationInformation.buildingAbbreviation}}</td>-->
            <!--<td>{{row.locationInformation.buildingID}}</td>-->
            <td>{{row.locationInformation.buildingName}}</td>
            <!--<td>{{row.locationInformation.location}}</td>-->
            <!--<td>{{row.seatInformation.seatsAvailable}}</td>-->
            <!--<td>{{row.seatInformation.seatsTaken}}</td>-->
            <!--<td>{{row.seatInformation.seatsTotal}}</td>-->
            <td>{{row.session}}</td>
            <td ng-bind-html="getSyllabus(row.syllabus)"></td>
                <!--{{(row.syllabus != 'Unavailable') ? '<a href={{row.syllabus}}>hi</a>' : "Unavailable"}}</td>-->
            <!--<td>{{row.termInformation.semester}}</td>-->
            <!--<td>{{row.termInformation.termID}}</td>-->
            <!--<td>{{row.termInformation.year}}</td>-->
        </tr>

        <tr ng-show="rowCollection.length > 10">
            <td colspan="5" class="text-center">
                <div st-items-by-page="10"
                     st-pagination=""
                     st-template="views/templates/pagination.custom.html">
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</span>

<div ng-include="'views/offeredClass/detailedOfferedClass.html'" ng-show="displayDetailed"></div>
