<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class</title>
    <!--<link href="views/class/class.css" rel="stylesheet">-->
    <script src="bower_components/underscore/underscore-min.js"></script>

    <style>
        ol {
            width: 75% !important;
        }

        label {
            width: 24% !important;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="jumbotron">
        <div id="classSearch" ng-show="!showDiv">
            <h2>Offered Class Search</h2>
            <form name="offeredClassSearchForm" ng-class="{'has-error': offeredClassSearchForm.selectTerm.$invalid}">
                <label class="control-label" for="subject"><p>Select a Term: </p></label>
                <div class="form-group">
                    <div>
                        <ol name="selectTerm"
                            class="nya-bs-select"
                            ng-model="termModel"
                            id="subject" required>
                            <li nya-bs-option="option in terms.availableOptions">
                                <a>
                                    {{option.semester}} {{option.year}}
                                    <span class="glyphicon glyphicon-ok check-mark"></span>
                                </a>
                            </li>
                        </ol>
                        <p class="text-danger" ng-show="offeredClassSearchForm.selectTerm.$invalid">Please select a term.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="creditHours"><p>Select class format: </p></label>
                    <ol id="creditHours"
                        class="nya-bs-select"
                        ng-model="formatModel"
                        data-selected-text-format={{selectedCountLimit}}
                        multiple
                        >
                        <li nya-bs-option="option in format.availableOptions group by option.isOrNot">
                            <span class="dropdown-header">{{$group}}</span>
                            <a>{{ option.isOrNot == "Not" ? "Not" : ""}} {{ option.formatType }}<span class="glyphicon glyphicon-ok check-mark"></span></a>
                        </li>
                    </ol>
                </div>

                <input type="submit" class="btn btn-default" value="Populate Classes" ng-click="populateClasses()">
                <input type="button" class="btn btn-danger" value="Clear Form" ng-click="clearForms()">
            </form>

                <!-- use to validate form -> myForm.$valid: {{!!myForm.$valid}} {{!!myForm.$invalid}}-->
            <br>term - A String that specifies the semester and year of the offered classes. The list below indicates the acceptable values for term.

            status - Use one of the True Values, or "Open", to indicate an open class. False Values, or "Closed", indicates a closed class.
            session - Represents the session in which a class is under. Values include:
            MIN - Mini Academic Session
            1 - Regular Academic Session
            2, 3, 4, 5, 6 - Sections of a Regular Academic Session
            department or subject - A String that represents the department or subject the class(es) belong to.
            department-crn - The 4 digit number that represents the class in a given department.
            location - Where the class takes place. Examples include:
            "UH" - University of Houston
            "UH-Northwest Campus" - University of Houston's Northwest Campus
            "Rice University"
            "UH-Sugar Land" - University of Houston's Sugar Land Campus
            component - A String that represents what component a class falls under. Example values include:
            "IND" - Independent Studies
            "LEC" - Lecture
            "LAB" - Lab
            "TUT" - Tutorial
            building - The building abbreviation where a class takes place. Example values include:
            "SEC" - Science and Engineering Complex
            "HBS" - Health and Biomedical Sciences
            "AAA" - Agnes Arnold Auditorium
            credit-hours - An integer between 1 and 5, inclusive, to retrieve classes with a certain amount of hours fulfilled.
            is-core - Use one of the True Values to indicate if a class fulfills a core requirement. False Values to indicate otherwise.
            weekendU - Use one of the True Values to indicate if a class is a weekendU class. False Values to indicate otherwise.
            core-id or core - An integer between 1 and 10, inclusive. The list below indicates what each number corresponds to.
            1: Communication
            2: Mathematics
            3: Life and Physical Sciences
            4: Language, Philosophy & Culture
            5: Creative Arts
            6: American History
            7: Government/Political Science
            8: Social & Behavorial Sciences
            9: Mathematics/Reasoning
            10: Writing in the Disciplines
            monday - Use one of the True Values to indicate that the class meets on Monday. Using a False Value indicates otherwise.
            tuesday - Use one of the True Values to indicate that the class meets on Tuesday. Using a False Value indicates otherwise.
            wednesday - Use one of the True Values to indicate that the class meets on Wednesday. Using a False Value indicates otherwise.
            thursday - Use one of the True Values to indicate that the class meets on Thursday. Using a False Value indicates otherwise.
            friday - Use one of the True Values to indicate that the class meets on Friday. Using a False Value indicates otherwise.
            saturday - Use one of the True Values to indicate that the class meets on Saturday. Using a False Value indicates otherwise.
            sunday - Use one of the True Values to indicate that the class meets on Sunday. Using a False Value indicates otherwise.
            syllabus - Use one of the True Values to indicate that the class has a syllabus. Using a False Value indicates otherwise.
        </div>
    </div>
</div>
</body>
</html>