<link href="views/templates/tableStyle.css" rel="stylesheet">
<link href="views/templates/tableSort.css" rel="stylesheet">
<link href="views/templates/searchFieldClear.css" rel="stylesheet">

<button ng-click="goBack()" class="btn btn-default" >
    Back To Offered Class Search
</button>

<h2>Offered Class Search Results</h2>
<p ng-bind-html="parametersMessage"></p>
<p ng-bind-html="numberOfRowsMessage"></p>

<table st-safe-src="rowCollection"
       st-table="displayed"
       class="table table-bordered table-striped">
    <thead>
    <tr>
        <th class="sortable" st-sort="attributes">attributes</th>
        <th class="sortable" st-sort="classDays.monday">classDays.monday</th>
        <th class="sortable" st-sort="classDays.tuesday">classDays.tuesday</th>
        <th class="sortable" st-sort="classDays.wednesday">classDays.wednesday</th>
        <th class="sortable" st-sort="classDays.thursday">classDays.thursday</th>
        <th class="sortable" st-sort="classDays.friday">classDays.friday</th>
        <th class="sortable" st-sort="classDays.saturday">classDays.saturday</th>
        <th class="sortable" st-sort="classDays.sunday">classDays.sunday</th>
        <th class="sortable" st-sort="classReferenceNumber">classReferenceNumber</th>
        <th class="sortable" st-sort="classStatus">classStatus</th>
        <th class="sortable" st-sort="classTitle">classTitle</th>
        <th class="sortable" st-sort="component">component</th>
        <th class="sortable" st-sort="core">core</th>
        <th class="sortable" st-sort="dateTimeInformation.startTime">dateTimeInformation.startTime</th>
        <th class="sortable" st-sort="dateTimeInformation.endTime">dateTimeInformation.endTime</th>
        <th class="sortable" st-sort="dateTimeInformation.startDate">dateTimeInformation.startDate</th>
        <th class="sortable" st-sort="dateTimeInformation.endDate">dateTimeInformation.endDate</th>
        <th class="sortable" st-sort="departmentInformation.credit_hours">departmentInformation.credit_hours</th>
        <th class="sortable" st-sort="departmentInformation.department">departmentInformation.department</th>
        <th class="sortable" st-sort="departmentInformation.departmentCRN">departmentInformation.departmentCRN</th>
        <th class="sortable" st-sort="departmentInformation.departmentName">departmentInformation.departmentName</th>
        <th class="sortable" st-sort="description">description</th>
        <th class="sortable" st-sort="duration">duration</th>
        <th class="sortable" st-sort="format">format</th>
        <th class="sortable" st-sort="departmentInformation.instructor">departmentInformation.instructor</th>
        <th class="sortable" st-sort="departmentInformation.instructorEmail">departmentInformation.instructorEmail</th>
        <th class="sortable" st-sort="lastUpdated">lastUpdated</th>
        <th class="sortable" st-sort="locationInformation.buildingAbbreviation">locationInformation.buildingAbbreviation</th>
        <th class="sortable" st-sort="locationInformation.buildingID">locationInformation.buildingID</th>
        <th class="sortable" st-sort="locationInformation.buildingName">locationInformation.buildingName</th>
        <th class="sortable" st-sort="locationInformation.location">locationInformation.location</th>
        <th class="sortable" st-sort="seatInformation.seatsAvailable">seatInformation.seatsAvailable</th>
        <th class="sortable" st-sort="seatInformation.seatsTaken">seatInformation.seatsTaken</th>
        <th class="sortable" st-sort="seatInformation.seatsTotal">seatInformation.seatsTotal</th>
        <th class="sortable" st-sort="session">session</th>
        <th class="sortable" st-sort="syllabus">syllabus</th>
        <th class="sortable" st-sort="termInformation.semester">termInformation.semester</th>
        <th class="sortable" st-sort="termInformation.termID">termInformation.termID</th>
        <th class="sortable" st-sort="termInformation.year">termInformation.year</th>
    </tr>
    <tr>
        <th colspan="5"><input type="search" st-search="" class="form-control" placeholder="Search through the results here."/></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in displayed">
        <td>{{row.attributes}}</td>
        <td>{{row.classDays.monday}}</td>
        <td>{{row.classDays.tuesday}}</td>
        <td>{{row.classDays.wednesday}}</td>
        <td>{{row.classDays.thursday}}</td>
        <td>{{row.classDays.friday}}</td>
        <td>{{row.classDays.saturday}}</td>
        <td>{{row.classDays.sunday}}</td>
        <td>{{row.classReferenceNumber}}</td>
        <td>{{row.classStatus}}</td>
        <td>{{row.classTitle}}</td>
        <td>{{row.component}}</td>
        <td>{{row.core}}</td>
        <td>{{row.dateTimeInformation.startTime}}</td>
        <td>{{row.dateTimeInformation.endTime}}</td>
        <td>{{row.dateTimeInformation.startDate}}</td>
        <td>{{row.dateTimeInformation.endDate}}</td>
        <td>{{row.departmentInformation.credit_hours}}</td>
        <td>{{row.departmentInformation.department}}</td>
        <td>{{row.departmentInformation.departmentCRN}}</td>
        <td>{{row.departmentInformation.departmentName}}</td>
        <td>{{row.description}}</td>
        <td>{{row.duration}}</td>
        <td>{{row.format}}</td>
        <td>{{row.departmentInformation.instructor}}</td>
        <td>{{row.departmentInformation.instructorEmail}}</td>
        <td>{{row.lastUpdated}}</td>
        <td>{{row.locationInformation.buildingAbbreviation}}</td>
        <td>{{row.locationInformation.buildingID}}</td>
        <td>{{row.locationInformation.buildingName}}</td>
        <td>{{row.locationInformation.location}}</td>
        <td>{{row.seatInformation.seatsAvailable}}</td>
        <td>{{row.seatInformation.seatsTaken}}</td>
        <td>{{row.seatInformation.seatsTotal}}</td>
        <td>{{row.session}}</td>
        <td>{{row.syllabus}}</td>
        <td>{{row.termInformation.semester}}</td>
        <td>{{row.termInformation.termID}}</td>
        <td>{{row.termInformation.year}}</td>


    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5" class="text-center">
            <div st-items-by-page="10"
                 st-pagination=""
                 st-template="views/templates/pagination.custom.html">
            </div>
        </td>
    </tr>
    </tfoot>
</table>