ol {
    width: 100% !important;
}

button.btn.btn-danger {
    white-space: normal !important;
    width: 100% !important;
}

.circle-status-open {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #72C11C;
}

.circle-status-closed {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: red;
}