<link href="views/templates/tableStyle.css" rel="stylesheet">

<p><p>{{messageTwo}}</p>
<p></p><p>{{message}}</p>
<h2>Core Search Results</h2>
<table st-safe-src="rowCollection"
       st-table="displayed"
       class="table table-bordered table-striped"
       style="width:100%">
    <thead>
        <tr>
            <th width="10%" class="sortable" st-sort="department">Subject</th>
            <th width="10%" class="sortable" st-sort="department_crn">CRN</th>
            <th width="10%" class="sortable" st-sort="class_title">Title</th>
            <th width="10%">Credit Hours</th>
            <th width="60%">Class Description</th>
        </tr>
        <tr>
            <th colspan="5"><input type="search" st-search="" class="form-control" placeholder="Search through the results here."/></th>
        </tr>
    </thead>
    <tbody ng-if="!isWindowSmall()">
        <tr ng-repeat="row in displayed">
            <td>{{row.department}}</td>
            <td>{{row.department_crn}}</td>
            <td>{{row.class_title}}</td>
            <td>{{row.credit_hours}}</td>
            <td>{{row.class_description}}</td>
        </tr>
    </tbody>

    <tbody ng-if="isWindowSmall()">
    <tr ng-repeat="row in displayed">
        <td>{{row.department}} {{row.department_crn}}</td>
        <td>Class Title: {{row.class_title}}</td>
        <td>Credit Hours: {{row.credit_hours}}</td>
        <td>Description: {{row.class_description}}</td>
    </tr>
    </tbody>

    <tfoot ng-show="rowCollection.length > 10">
    <tr>
        <td colspan="5" class="text-center">
            <div st-items-by-page="10"
                 st-pagination=""
                 st-template="views/templates/pagination.custom.html">
            </div>
        </td>
    </tr>
    </tfoot>
</table>