<link href="views/templates/tableStyle.css" rel="stylesheet">
<link href="views/templates/tableSort.css" rel="stylesheet">
<link href="views/templates/search.field.clear.css" rel="stylesheet">
<div ng-controller="CoreCtrl">

    <p>
    <p>{{messageTwo}}</p>
    <p></p>
    <p>{{message}}</p>
    <h2>Core Search Results</h2>
    <table st-safe-src="rowCollection"
           st-table="displayed"
           class="table table-bordered table-striped"
           style="width:100%">
        <thead>
        <tr>
            <th width="10%" class="sortable" st-sort="department">Subject</th>
            <th width="10%" class="sortable" st-sort="department_crn">CRN</th>
            <th width="10%" class="sortable" st-sort="class_title">Title</th>
            <th width="10%">Credit Hours</th>
            <th width="60%">Class Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th colspan="5">
                <search-bar></search-bar>
            </th>
        </tr>
        <tr ng-repeat="row in displayed" ng-if="!isWindowSmall()">
            <td>{{row.department}}</td>
            <td>{{row.department_crn}}</td>
            <td>{{row.class_title}}</td>
            <td>{{row.credit_hours}}</td>
            <td>{{row.class_description}}</td>
        </tr>

        <tr ng-repeat="row in displayed" ng-if="isWindowSmall()">
            <td><b>Subject & Course Number:</b> {{row.department}} {{row.department_crn}}</td>
            <td><b>Class Title:</b> {{row.class_title}}</td>
            <td><b>Credit Hours:</b> {{row.credit_hours}}</td>
            <td><b>Description:</b> {{row.class_description}}</td>
        </tr>

        <tr ng-show="rowCollection.length > 10">
            <td colspan="5" class="text-center">
                <div st-items-by-page="10"
                     st-pagination=""
                     st-template="views/templates/pagination.custom.html">
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>