<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core</title>
    <link href="views/core/core.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>Core Class Search</h2>
        <p>Select a core category below to view classes that fulfills a certain core category.</p>
        <form name="coreSearchForm">
            <ol class="nya-bs-select"
                ng-model="coreCategory"
                data-live-search="true"
                ng-change="populateCoreClasses()"
                ng-show="!isDataLoading"
                title="Select a core category here.">
                <li nya-bs-option="option in coreCategories.availableOptions">
                    <a>
                        {{ option.categoryName }}
                        <span class="glyphicon glyphicon-ok check-mark">
                            </span>
                    </a>
                </li>
            </ol>
            <loading-icon></loading-icon>
        </form>

        <div id="errorBox" ng-if="isError">
            <br>
            <div class="alert alert-danger">
                <p><strong>Error!</strong> {{errorMessage}}</p>
            </div>
        </div>
        <div ng-include="'views/core/coreResult.html'" ng-show="showResults"></div>
    </div>
</div>
</body>
</html>